.chip-container {
    display: flex;
    flex-wrap: wrap; /* Permite que los chips se envuelvan en varias líneas */
    gap: 6px; /* Espacio entre los chips */
}

mat-chip {
    display: inline-block; /* Asegura que los chips solo ocupen el espacio necesario */
    margin: 2px;
}

mat-card {
    max-width: 400px;
    flex: 1 1 200px; /* La tarjeta ocupa al menos 200px y puede crecer si hay espacio */
    box-sizing: border-box; /* Asegura que el padding y el borde se incluyan en el tamaño total */
}

mat-card-footer {
    padding: 16px;
}

ng-container {
    display: flex;
    justify-content: space-between;
}

.card-container {
    flex-wrap: wrap; /* Permite que las cards se envuelvan en varias líneas */
    gap: 16px; /* Espacio entre las tarjetas */
    height: 100%;
    width: 100%;

    .scrollable-content {
        display: flex;
        height: calc(100% - 5rem); /* Ajusta la altura para que el contenido sea visible */
        overflow-y: auto;
        flex-wrap: wrap;
        margin: 3rem 0;
        padding-bottom: 1rem; /* Añade un poco de padding inferior para evitar que el último elemento se corte */
    }
    
}


mat-grid-tile {
    display: block;
}

.asistencia-container {
    display: flex;
    flex-direction: column; /* Asegura que los elementos hijos se apilen verticalmente */
    height: 700px;
    overflow: hidden;
    flex-wrap: wrap;

    .asistencia-scrollable-content {
        flex: 1; /* Permite que este contenedor ocupe el espacio restante */
        overflow-y: auto; /* Permite el desplazamiento vertical */
        padding: 1rem; /* Añade un poco de padding */
    }
}

.mat-mdc-standard-chip .mdc-evolution-chip__action--primary::ng-deep {
    background: red;
}

.joto {
    color: red;
}	